.btn-search {
	  background: #424242;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #1c1c1c;
	}
	.btn-search:link, .btn-search:visited {
	  color: #fff;
	}
	.btn-search:active, .btn-search:hover {
	  background: #1c1c1c;
	  color: #fff;
	}
.dropdown-menu{
	background-color: snow;
}
.category-nav{
	font-size: 14px;
}
.menu-nav{
	font-size: 16px;
}
.hov:hover{
	background-color: blue;
}
.color{
	font-color: black;
}
.color a{
	color: black;
}
.right{
	float: right;
}
.delay {
  animation-duration: 5s;
  animation-delay: 5s;
}
.delay1 {
  animation-duration: 5s;
  animation-delay: 6s;
}