/* your styles go here */
.thead {
    background: #4fbfa8 !important;
    color: white;
}
.edit {
    width: 100% !important;
    position: center;
    padding: 50;
}
.h4 {
    text-align: center;
}
.lon {
    text-align: center;
}